{% extends 'base.html' %}
{% block title %} Password Generator Tool - TechHackGyaan {% endblock %}
{% block toolsdropdownactive %} active {% endblock toolsdropdownactive %}

{% block body %}

<div class="container">
<form action='/generated_password' method='post'>{% csrf_token %}
    <center><div class="input-group my-5" style="width:25%;">
        <span class="input-group-text" id="basic-addon1">Enter the length of Password</span>
        <input type="text" name='pwdlen' class="form-control" aria-label="password">
    </div></center>
        <center><h6 style="color:red;">Choose from below what is to be included in your password?</h6></center>
        <div class="form-check form-switch mt-4" style="margin-left:36%;">
        <input class="form-check-input" name="uppercase" type="checkbox" id="flexSwitchCheckDefault1">
        <label class="form-check-label" for="flexSwitchCheckDefault">UPPERCASE</label>
        </div>
    
        <div class="form-check form-switch" style="margin-left:36%;">
        <input class="form-check-input" name="lowercase" type="checkbox" id="flexSwitchCheckDefault2">
        <label class="form-check-label" for="flexSwitchCheckDefault">LOWERCASE</label>
        </div>
    
        <div class="form-check form-switch" style="margin-left:36%;">
        <input class="form-check-input" name="special_characters" type="checkbox" id="flexSwitchCheckDefault3">
        <label class="form-check-label" for="flexSwitchCheckDefault">SPECIAL CHARACTERS</label>
        </div>
    
        <div class="form-check form-switch" style="margin-left:36%;">
        <input class="form-check-input" name="digit" type="checkbox" id="flexSwitchCheckDefault4">
        <label class="form-check-label" for="flexSwitchCheckDefault">DIGITS</label>
        </div>
        
        <br>
        <center><button type="submit" class="btn btn-dark mt-2">Generate</button></center>
</form>
</div>


{% endblock %}